@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  background-image: url('assets/food_bg.png') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px ;
}

  
a{
    text-decoration: none;
    color: inherit;
  }
.app{
    width:80%;
    margin:auto;
}
@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity: 100;
  }
}